<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Weather - Navbar</title>
</head>
<body>

<form th:fragment="search-form" method="get" th:action="@{/search}" class="search-container mb-4">
    <div class="search-wrapper">
        <input type="text" class="search-input" id="locationSearch" placeholder="Search location..." name="name" required>
        <button class="search-button" onclick="searchLocation()">
            <i class="fas fa-search"></i>
        </button>
    </div>
</form>

</body>
</html>